<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsflyer.support.publisher">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".PublisherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <activity android:name=".FlavorSplashActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsActivity" />
        <activity android:name=".GameOverActivity"
            android:label="@string/title_game_over_activity"/>
        <activity android:name=".PlayGameActivity" />
        <activity android:name=".AdsListActivity" />
    </application>

</manifest>